In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [76]:
kamenolom_GORAK = pd.read_excel(r'D:\EuroMix\Gorak\Dijagram optereÄ‡enja kamenolom GORAK.xlsx',sheet_name='AdvanceData', parse_dates=['Time'], header=0)
kamenolom_GORAK.rename(columns={'074049497_LP1: A+01':'power [kW]'},inplace=True)
# kamenolom_GORAK.head()
# kamenolom_GORAK.columns

In [77]:
kamenolom_GORAK = kamenolom_GORAK.set_index('Time')
daily_sum = kamenolom_GORAK.resample('D').sum()
daily_sum.head()

C:\Users\tamar\AppData\Local\Temp\ipykernel_4116\1459304882.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  daily_sum = kamenolom_GORAK.resample('D').sum()

            power [kW]  Status
Time
2021-01-01       921.6       0
2021-01-02       901.8       0
2021-01-03       929.4       0
2021-01-04      2053.2       0
2021-01-05      2204.4       0

In [96]:
monthly_max = daily_sum.groupby(pd.Grouper(freq='M')).idxmax()
monthly_max.rename(columns={'power [kW]' : 'day_with_highest_power'}, inplace=True)
monthly_summary = daily_sum.copy()
monthly_summary['month'] = monthly_summary.index.strftime('%Y-%m')
monthly_summary = monthly_summary.merge(monthly_max, left_index=True, right_index=True)
monthly_summary.head(30)

            power [kW]  Status_x    month day_with_highest_power   Status_y
Time
2021-01-31      1902.6         0  2021-01             2021-01-29 2021-01-28
2021-02-28      8532.6         0  2021-02             2021-02-05 2021-02-01
2021-03-31      8271.6         0  2021-03             2021-03-16 2021-03-03
2021-04-30      2975.4         0  2021-04             2021-04-08 2021-04-03
2021-05-31     11191.2         0  2021-05             2021-05-24 2021-05-01
2021-06-30     11440.8         0  2021-06             2021-06-28 2021-06-10
2021-07-31     11335.2         0  2021-07             2021-07-10 2021-07-18
2021-08-31     14325.6         0  2021-08             2021-08-31 2021-08-25
2021-09-30     13590.0         0  2021-09             2021-09-23 2021-09-13
2021-10-31      4234.2         0  2021-10             2021-10-18 2021-10-15
2021-11-30     18018.6         0  2021-11             2021-11-25 2021-11-04
2021-12-31      3948.6         0  2021-12             2021-12-01 2021-12-21
2022-01-31     16306.8         0  2022-01             2022-01-14 2022-01-11
2022-02-28     22554.6         0  2022-02             2022-02-28 2022-02-14
2022-03-31      9205.2         0  2022-03             2022-03-10 2022-03-17
2022-04-30      5778.0         0  2022-04             2022-04-15 2022-04-01
2022-05-31      8044.2         0  2022-05             2022-05-11 2022-05-14
2022-06-30     11650.2         0  2022-06             2022-06-06 2022-06-13
2022-07-31      3670.8         0  2022-07             2022-07-29 2022-07-01
2022-08-31     16341.0         0  2022-08             2022-08-09 2022-08-14
2022-09-30     11670.0         0  2022-09             2022-09-15 2022-09-03
2022-10-31     13074.6         0  2022-10             2022-10-08 2022-10-01
2022-11-30     19231.8         0  2022-11             2022-11-29 2022-11-02
2022-12-31      3792.0         0  2022-12             2022-12-28 2022-12-01